<!doctype html>
<html>
<head>
    <title>chat</title>
</head>
<link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="/css/style.css">
<link rel=icon href="/img/favicon.png">
<script src="/socket.io/socket.io.js"></script>
<script src="/libs/jquery/jquery-1.11.1.js"></script>
<body>

<ul id="messages"></ul>

<ul id="messages_private" style="display: none;"></ul>

<ul id="users">
    <li id="all" class="online">Todos</li>
    <% for(var i=0; i < users.length; i++){ %>
    <li id="<%= users[i].socketId; %>" class="online"><%= users[i].name; %> Online</li>
    <% } %>
</ul>

<form action="" id="form_msg">
    <input id="m" autocomplete="off" /><button>Send</button>
</form>

<form action="" id="form_msg_private" style="display: none;">
    <input id="m_private" autocomplete="off" data-socketId="" /><button>Send</button>
</form>


<div class="modal fade" id="setNameModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="setNameModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="setNameModalLabel">Digite seu nome</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="setNameInput" class="col-form-label">Nome:</label>
                        <input type="text" class="form-control" id="setNameInput">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="setNameButton">Salvar</button>
            </div>
        </div>
    </div>
</div>


<script src="/libs/bootstrap/js/bootstrap.min.js"></script>
<script src="/libs/cookies/Cookies.js"></script>
<script>
    $(function () {
        $('#setNameModal').modal('show');

        var button = document.getElementById("setNameButton");
        button.addEventListener("click",function(e){
            var name = document.getElementById("setNameInput").value;
            socket.emit('setName', name);
            $('#setNameModal').modal('hide');
        },false);

        //var audio = new Audio('/assets/songs/cow.wav');
        var socket = io();

        //Public
        document.getElementById('form_msg').onsubmit = function(){
            var input = document.getElementById('m');
            socket.emit('chat message', input.value);
            input.value = '';
            return false;
        };

        //Private
        document.getElementById('form_msg_private').onsubmit = function(){
            var input = document.getElementById('m_private');
            var id = document.getElementById('m_private').getAttribute('data-socketId');
            socket.emit('send private message', {'socketId': id,'msg': input.value});

            elChild = document.createElement("li");
            elChild.innerHTML = input.value;
            document.getElementById('messages_private').appendChild(elChild);

            input.value = '';
            return false;
        };

        $('body').on('click','.online',function () {
            var id = $(this).attr('id');
            if(id != 'all'){
                $('#messages').hide();
                $('#form_msg').hide();
                $('#messages_private').show();
                $('#form_msg_private').show();
                $('#form_msg_private input').attr('data-socketId', id);
            }else{
                $('#messages_private').hide();
                $('#form_msg_private').hide();
                $('#messages').show();
                $('#form_msg').show();
            }
        });

        //Private Message
        socket.on('send private message', function(msg){
//            alert(msg);
//            var code = msg.split(':');
//            if(code[1].trim() == 'refresh'){
//                location.reload();
//            }else{
                elChild = document.createElement("li");
                elChild.innerHTML = msg;
                document.getElementById('messages_private').appendChild(elChild);
//                audio.play();
//            }
        });

        //Public Message
        socket.on('chat message', function(msg){
//            var code = msg.split(':');
//            if(code[1].trim() == 'refresh'){
//                location.reload();
//            }else{
                elChild = document.createElement("li");
                elChild.innerHTML = msg;
                document.getElementById('messages').appendChild(elChild);
//                audio.play();
//            }
        });

        socket.on('user online', function (userOnline) {
            elChild = document.createElement("li");
            elChild.setAttribute('id',userOnline.id);
            elChild.setAttribute('class','online');
            elChild.innerHTML = userOnline.name+' Online';
            document.getElementById('users').appendChild(elChild);
        });

        socket.on('user offline', function (userOffline) {
            var el = document.getElementById(userOffline);
            el.parentNode.removeChild(el);
        });
    });
</script>
</body>
</html>