#form_msg, #form_msg_private { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
#form_msg input, #form_msg_private input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
#form_msg button, #form_msg_private button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
